In [1]:
import pandas as pd
import numpy as np

In [2]:

%precision 3
import pandas as pd

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=None)
df.columns = ['age','workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship','race', 'sex', 'capital-gain', 'capital-loss',
          'hours-per-week', 'native-country','class']
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
#google翻訳によるもの
# # 年齢：連続。
# 職種：プライベート、自己emp-not-inc、自己emp-inc、連邦政府、地方自治体、州政府、無報酬、決して働かない。
# fnlwgt：連続。
# HS-grad、Prof-school、Assoc-acdm、Assoc-voc、第9、第7、第8、第12、マスター、第1、第4、第10、博士号、第5、第6、
# education-num：連続。
# 婚姻状態：結婚した夫婦、離婚、結婚していない、離婚している、寡婦、結婚している、配偶者なし、結婚したAFの配偶者。
# 職業：技術サポート、工作修理、その他サービス、セールス、エグゼクティブマネージメント、専門専門、ハンドラクリーナー、マシンオペレーション、Adm-clerical、農業漁業、輸送移動、 serv、保護的なserv、武装した力。
# 関係：妻、自らの子供、夫、家族でない、他の親族、未婚。
# レース：白、アジア - パックアイランダー、アメ - インディア - エスキモー、その他、黒。
# 性別：女性、男性。
# 資本利得：継続。
# キャピタル・ロス：継続的。
# 週当たりの時間：連続。
# インド、日本、ギリシャ、南、中国、キューバ、イラン、ホンジュラス、フィリピン、イタリア（米国、カンボジア、イングランド、プエルトリコ、カナダ、ドイツ、外務省） 、ポーランド、ジャマイカ、ベトナム、メキシコ、ポルトガル、アイルランド、フランス、ドミニカ共和国、ラオス、エクアドル、台湾、ハイチ、コロンビア、ハンガリー、グアテマラ、ニカラグア、スコットランド、タイ、ユーゴスラビア、エルサルバドル、トリナダド＆トバゴ、ペルー、 、オランダ - オランダ。
# クラス：> 50K、<= 50K

In [4]:
df.shape

(32561, 15)

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
df = df.dropna()

In [7]:
df.shape

(32561, 15)

In [8]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
class             object
dtype: object

In [9]:
la = LabelEncoder()
df['workclass'] = la.fit_transform(df['workclass'])
df['education'] = la.fit_transform(df['education'])
df['marital-status'] = la.fit_transform(df['marital-status'])
df['occupation'] = la.fit_transform(df['occupation'])
df['relationship'] = la.fit_transform(df['relationship'])
df['race'] = la.fit_transform(df['race'])
df['sex'] = la.fit_transform(df['sex'])
df['native-country'] =la.fit_transform(df['native-country'])
df['class'] = la.fit_transform(df['class'])

In [10]:
df.dtypes

age               int64
workclass         int64
fnlwgt            int64
education         int64
education-num     int64
marital-status    int64
occupation        int64
relationship      int64
race              int64
sex               int64
capital-gain      int64
capital-loss      int64
hours-per-week    int64
native-country    int64
class             int64
dtype: object

In [12]:
X = df.iloc[:, :-1][:100]
y = df.iloc[:, -1][:100]
X.shape, y.shape

((100, 14), (100,))

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [18]:
from sklearn.svm import SVC

svm = SVC(kernel='linear', C = 2.0, random_state=0)

svm.fit(X_train, y_train)

SVC(C=2.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=0, shrinking=True,
  tol=0.001, verbose=False)

In [19]:
y_pred = svm.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0])

In [20]:
svm.score(X_train, y_train)

0.743

In [21]:
svm.score(X_test, y_test)

0.800

In [29]:
from sklearn.metrics import confusion_matrix, roc_curve